body{
    margin: 0;
    padding: 0;
}

.header-cv{
    margin: 1rem;
    background-color: gray;
    display: flex;
    flex-direction: row;
}

.header-cv > img{
    margin: 1rem;
}


.header-cv > div > h2{
    margin-top: 0.8rem;
    margin-bottom: 0;
    margin-left: 1.5rem;
}

.header-cv > div > ul{
    display: flex;
    flex-direction: column;
}

.header-cv > div > div{
    display: flex;
    height: 5rem;
}

.div-main-DoubleArticle{
    display: flex;
    margin-top: 1rem;
}

.div-main-DoubleArticle > div{
    background-color: gray;
    display: flex;    
    width: 48.3%;
    margin-left: 1rem;
    height: 10rem;
}

.div-main-DoubleArticle > div > div{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.div-main-DoubleArticle > div > div > ul{
    margin-top: 0;
}

.last-container{
    display: flex;
    flex-direction: row;
}

.interest{
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: 48.4%;
    margin: 1rem;   
}

.interest > h2{
    margin-left: 1rem;
}

.interest > ul{
    margin-top: 0;
}

.languages{
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: 48.4%;
    margin-top: 1rem;   
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.languages > h2{
    margin-left: 1rem;
}

.languages > ul{
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.languages > ul > li{

    margin-left: 1rem;
}